.zwei14-mobilemenu-links{
    padding-left: 0;
    list-style: none;
}

.zwei14-mobilemenu-links a{
    padding-top: 13px;
    padding-right: 3px;
    padding-left: 3px;
    opacity: 0.5;
}

.zwei14-mobilemenu-links li:last-child a{
    padding-right: 0px;
}

.zwei14-mobilemenu-links li:first-child a{
    padding-left: 0px;
}

.zwei14-mobilemenu-links a:focus,
.zwei14-mobilemenu-links a:hover,
.zwei14-mobilemenu-links a.active{
    opacity: 1.0;
}

.zwei14-mobilemenu-links i{
    height: 22px;
    width: 22px;
    display: inline-block;

    margin-right: 2px;
    background: url('../img/icons/icon-home.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition:  ease all 5s;
}

.zwei14-mobilemenu-links span{
    visibility: hidden;
    opacity: 0;

    display: block;
    height: 0;
    width: 0;

    text-align: center;
    font-weight: 300;
    font-size: 11px;
    transition:  ease all 5s;
}

.zwei14-mobilemenu-links i.icon-home{
    background-image: url('../img/icons/icon-globe.png');
}

.zwei14-mobilemenu-links i.icon-agency{
    background-image: url('../img/icons/icon-store.png');
}

.zwei14-mobilemenu-links i.icon-projects{
    background-image: url('../img/icons/icon-ruler.png');
}

.zwei14-mobilemenu-links i.icon-contact{
    background-image: url('../img/icons/icon-comments.png');
}

.zwei14-mobilemenu-links i.icon-news{
    background-image: url('../img/icons/icon-bookmark.png');
}

.zwei14-mobilemenu-links li{
    padding: 0px;
}

.zwei14-mobilemenu .inner{

}

.zwei14-mobilemenu.poppedup .inner{
    position: fixed;
    padding: 10px;
    z-index: 999;
}

.zwei14-mobilemenu.poppedup .zwei14-mobilemenu-links{
    text-align: center;
    background-color: white;
    padding: 5px;
}

.zwei14-mobilemenu.poppedup .zwei14-mobilemenu-links li{
    margin-right: 5px;
}

.zwei14-mobilemenu.poppedup .zwei14-mobilemenu-links i {
    height: 28px;
    width: auto;
    margin-bottom: 5px;
    display: block;
    margin-right: 0px;
}

.zwei14-mobilemenu.poppedup .zwei14-mobilemenu-links span{
    visibility: visible;
    opacity: 1;

    height: auto;
    width: auto;


}

#zwei14-mobilemenu-overlay{
    visibility: hidden;
    opacity: 0.0;

    transition: ease all 1s;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #000000;
    z-index: 998;
}

.zwei14-mobile-menu-poppedup #zwei14-mobilemenu-overlay{

    visibility: visible;
    opacity: 0.8;




}
